$tw-blue-000: #3b82f6; // 500
$tw-blue-100: #2563eb; // 600
$tw-blue-200: #1d4ed8; // 700
$tw-blue-300: #1e40af; // 800

$tw-red-000: #ef4444; // 500
$tw-red-100: #dc2626; // 600
$tw-red-200: #b91c1c; // 700
$tw-red-300: #991b1b; // 800

$tw-slate-50: #f8fafc;
$tw-slate-100: #f1f5f9;
$tw-slate-200: #e2e8f0;
$tw-slate-300: #cbd5e1;

$tw-stone-50: #fafaf9;
$tw-stone-100: #f5f5f4;
$tw-stone-200: #e7e5e4;
$tw-stone-300: #d6d3d1;
