$tw-blue-000: #3b82f6; // 500
$tw-blue-100: #2563eb; // 600
$tw-blue-200: #1d4ed8; // 700
$tw-blue-300: #1e40af; // 800

$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
