// https://github.com/just-the-docs/just-the-docs/blob/main/_sass/color_schemes/light.scss

$color-scheme: blueslate;
//$body-background-color: $white !default;
$body-heading-color: $tw-slate-800;
$body-text-color: $tw-slate-500;
$link-color: $tw-blue-500;
$nav-child-link-color: $tw-slate-500;
$sidebar-color: $tw-slate-50;
//$base-button-color: #f7f7f7 !default;
$btn-primary-color: $tw-blue-600;
$code-background-color: $tw-slate-50;
$feedback-color: darken($sidebar-color, 3%) !default;
//$table-background-color: $white !default;
//$search-background-color: $white !default;
$search-result-preview-color: $tw-slate-400;
