$color-scheme: redstone;
//$body-background-color: $white !default;
$body-heading-color: $tw-stone-800;
$body-text-color: $tw-stone-500;
$link-color: $tw-red-500;
$nav-child-link-color: $tw-stone-500;
$sidebar-color: $tw-stone-50;
//$base-button-color: #f7f7f7 !default;
$btn-primary-color: $tw-red-600;
$code-background-color: $tw-stone-50;
$feedback-color: darken($sidebar-color, 3%) !default;
//$table-background-color: $white !default;
//$search-background-color: $white !default;
$search-result-preview-color: $tw-stone-400;
